@charset "UTF-8";
@font-face {
    font-family: 'Idroid';
    src: url(fontes/idroid.otf) format(opentype);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #7ab6bd;
}

header {
    background-image: linear-gradient(to top,#063c46,#18a8b8);
    text-align: center;
    color: white;
}

header > h1 {
    margin: 0px;
    padding: 30px 0px 20px 0px;
    font-size: 3em;
}

header > p {
    margin: 0px 100px;
    padding: 20px;
    font-size: 1.2em;
}

nav {
    text-align: left;
    margin: 10px 5px 0px 5px;
    padding: 10px;
    
}

nav > a {
    text-decoration: 0px;
    color: white;
}

nav > a:hover {
    text-decoration: underline;
    color: black;
}

main {
    background-color: white;
    margin: auto 10%;
    padding: 10px;
}

h2 {
    font-family: 'Idroid', 'sans-serif';
    margin: auto ;
    color: #063c46;
    background-image: linear-gradient(to right,#5496a1,#e4eef0);
}

p {
    margin-top: 10px;
}

aside {
    margin: auto;
}

.extra {
    background-color: #66adb9;
    border-radius: 10px;
    padding: 0px;
}

h3 {
    background-color: #063c46;
    border-radius: 10px 10px 0px 0px;
    color: white;
    margin: auto ;
    padding: 3px;
}

.paragrafo-extra {
    margin: auto;
    padding: 5px;
}

li > a {
    text-decoration: none;
    color: white;
}

li > a:hover {
    text-decoration: underline;
    color: black;
}

footer {
    padding: 10px;
}

#rodape {
    background-color: #063c46;
    text-align: center;
    color: white;
}