@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor1), rgb(235, 185, 91));
    }

    section#login {
        width: 90vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: center right;
    }

    section#login > div#formulario {
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor1), rgb(235, 185, 91));
    }

    section#login {
        width: 900px;
    }

    section#login > div#imagem {
        float: right;
        width: 30%;
        height: 100%;
        background-position: center right;
    }

    section#login > div#formulario {
        text-align: center;
    }
}

