@charset "UTF-8";

:root {
    --cor1: #F28C28;
    --cor2: #F4F4F4;
}

* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html {
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: #ee7904;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    overflow: hidden;

    background-color: var(--cor2);
    width: 300px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);

    transition: width .3s , height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: var(--cor1) url(../img/fundo-main.jpg) no-repeat center right;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > p,h1 {
    margin-bottom: 10px;
    text-align: center;
}

div#formulario > p {
    font-size: 0.9em;
}

#formulario > form > input[type=submit] {
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor1);
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#formulario > form > input[type=submit]:hover {
    border: 2px solid black;
    color: white;
    text-decoration: underline;
}

#formulario > form > a {
    text-decoration: none;
    color: black;
}

#formulario > form > a:hover {
    text-decoration: underline;
    color: #ee7904;
}