@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans', 'sans-serif';
    background-color: #aa75ff;
}

header {
    background-color: #5d38df;
    border: 2px solid white;
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.719);
}

header > h1 {
    background-color: #4323d5;
    color: white;
    text-align: center;
    margin: 0px;
    border-bottom: 2px solid white;
}

nav {
    margin: 0px;
    background-color: #000092;
}

nav > a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav > a:hover {
    color: black;
    text-decoration: underline;
}

main {
    background-color: #5d38df;
    margin: 20px auto;
    border: 2px solid white;
    border-top: 0px;
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.719);
}

article > h2 {
    background-color: #4323d5;
    margin: 0px;
    color: white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 3px;

}

.subtituloDestaque {
    background-color: #000092;
}

article > p {
    margin: 0px;
    padding: 0px 3px;
}

footer {
    background-color: #4323d5;
    color: white;
    border: 2px solid white;
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.719);
}

footer > p {
    text-align: right;
    margin: 0px;
    padding: 0px 3px;
}

p > a {
    color: white;
}

p > a:hover {
    color: black;
}

div#bola {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 50px;
    border-color: #000092 ;
    border-style: outset;
}