@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body.escuro {
  --fundo-principal: #222222;
  --texto: #e0e0e0;
  --texto-inverso: #333333;
  --destaque: #ff5522;
  --destaque-inverso: #a73917;
  --fundo-card: #444444;
}

body {
  background-color: var(--fundo-principal);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  color: var(--texto);
  transition: 0.5s;
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav#menu > ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

nav#menu > ul > li > a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

nav#menu > ul > li > a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: auto 90% auto;
  gap: 20px;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
  margin-top: 10px;
}

section#ficha > img {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  
}

section#ficha > h1 {
  color: var(--destaque);
  text-align: center;
  padding: 15px 0px;
  font-size: 1.5em;
}

div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  gap: 10px;
  padding: 5px;
  border: 2px solid black;
  margin-top: 15px;
}

div#social > a {
  color: var(--destaque);
  transition: 0.5s;
}

div#social > a:hover {
  color: var(--destaque-inverso);
}

section#detalhes {
  grid-column: 2;
}

section , article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

article > h2 {
  color: var(--destaque);
  margin-bottom: 20px
}

.video-container {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 19/9;
}

.video-container > iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.skill_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nome {
  color: var(--texto);
  font-weight: bold;
}

.porcent {
  color: var(--destaque);
  font-weight: bold;
}

.barra {
  width: 100%;
  height: 8px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
}

.progresso {
  height: 8px;
  background-color: var(--destaque-inverso);
  border-radius: 4px;
}

.formacao-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.formacao-container > .curso {
  background-color: var(--fundo-principal);
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  padding-left: 15px;
  transition: 0.5s;
}

.formacao-container > .curso:hover {
  cursor: pointer;
  border-left: 15px solid var(--destaque);
  outline: 1px solid black;
}

.curso > .periodo {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}

.curso > .instituicao {
  font-size: 1.1em;
  color: var(--destaque-inverso);
}

#container-projeto {
  display: flex;
  flex-direction: column-reverse;
  margin: 10px 0px;
}

#container-projeto > .projeto {
  display: flex;
  flex-direction: column;
  background-color: var(--fundo-principal);
  border-radius: 8px;
  padding: 10px;
  border-left: 5px solid var(--destaque-inverso);
  transition: 0.5s;
}

#container-projeto > .projeto:hover {
  cursor: pointer;
  border-left: 15px solid var(--destaque);
}

.fotos {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

footer {
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 15px;
}

footer > a {
  color: var(--texto-inverso);
  text-decoration: none;
  font-weight: bold;
}

footer > a:hover {
  text-decoration: underline;
  color: var(--destaque-inverso);
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: auto 300px 1fr auto;
  }

  section#ficha {
    grid-column: 2 / 3;
    height: fit-content;
    position: sticky;
    top: 65px;
  }

  section#detalhes {
    grid-column: 3 / 4
  }

  .skill_container{
    grid-template-columns: 1fr 1fr;
  }

  #container-projeto > .projeto {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .projeto-info {
    max-width: 80%;
  }

  .fotos {
    aspect-ratio: 16/9;
    max-width: 20%;
    max-height: 200px;
  }
}