@charset "UTF-8";

/*TELA DE COMPUTADORES*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
}

header > menu > ul {
    list-style-type: none;
}

h1,h2 {
    margin: 10px 0px;
}

p {
    text-indent: 20px;
}