.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 10px;
}

.caixa1 {
    background-color: red;
    grid-area: 1 / 1 / 2 / spam 4;
}

.caixa2 {
    background-color: gray;
    grid-row: 2 / span 2;
    grid-column: 1 / -3;
}

.caixa3 {
    background-color: aqua;
    grid-row: 2 / span 4;
    grid-column: 3 / -1;
}